# Copy/paste this file under the name .env and fill the values in the new file
CLEARML_SERVER=clearml.infra.arkhn.dev
CLEARML_USERNAME=
CLEARML_PASSWORD=
MINIO_SERVER=api.minio.infra.arkhn.dev:443
MINIO_USERNAME=
MINIO_PASSWORD=
